
/* * {
    border: 1px dashed black;
} */

:root {
    --header-height: 60px;
    --main-height: 100vh;
}

.icon-circle {
    background-color: #f26551;
    color: white;
    border-radius: 50%;
    padding: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;

    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.icon {
    font-size: 12px;
}

.icon-square {
    border: 1px solid grey;
    color: grey;
    padding: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;

    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.status-box {
    color: white;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px; 
}

.done {
    background-color: green;
}

.process {
    background-color: orange;
}

.failed {
    background-color: red;
}

#layout-header {
    height: var(--header-height);
}

#layout-main {
    height: calc(var(--main-height) - var(--header-height) );
}


#layout-main-side {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

#layout-main-main > div.cointainer-fluid > div > div.col-lg-8.col-md-12 > div > div > div:nth-child(2) {
    margin-top: 30px;
}

#layout-main-main-header {
    min-height: 80px;
}

.overflow {
    overflow: auto;
}

.contenitore-classi {
    border: 1px solid grey;
    height: 50%;
    margin-top: 30px;
}

.col-fixed {
    width: 70px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#gap-small {
    gap: 10px;
}

#gap-small-medium {
    gap: 12%;
}

#header-search-bar {
    height: 30px;
    background-color: rgb(223, 223, 223);
}

.tit {
    display: inline-block;
}
.pianoblaze {
    height: 25px;
    padding-left: 4px;
    width: 90px;
    background-color: #165bba;
    border-radius: 50px;
    display: inline-block;
}

.treapp {
    height: 25px;
    padding-left: 4px;
    width: 50px;
    background-color: #165bba;
    border-radius: 50px;
    display: inline-block;
}

.plus {
    height: 25px;
    padding-left: 4px;
    width: 25px;
    background-color: #165bba;
    border-radius: 50px;
    display: inline-block;
}
.mobileapp {
    height: 25px;
    padding-left: 4px;
    width: 96px;
    background-color: #165bba;
    border-radius: 50px;
}
.webapp {
    height: 25px;
    padding-left: 4px;
    width: 134px;
    background-color: #165bba;
    border-radius: 50px;
}
.blogapp {
    height: 25px;
    padding-left: 4px;
    width: 134px;
    background-color: #165bba;
    border-radius: 50px;
}

.box-plus {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 24px;
    color: #ffffff;
}

#layout-main-main > div.cointainer-fluid > div > div.col-lg-4.col-md-12 > div > div > div:nth-child(1) {
margin-top: 30px; 
}

#layout-main-main > div.cointainer-fluid > div > div.col-lg-8.col-md-12 > div > div > div:nth-child(2) {
    border: 1px solid grey;
}

#layout-main-main > div.cointainer-fluid > div > div.col-lg-4.col-md-12 > div > div > div:nth-child(1) {
    border: 1px solid grey;
}

#layout-main-main > div.cointainer-fluid > div > div.col-lg-4.col-md-12 > div > div > div:nth-child(1) > div:nth-child(1) {
    border-bottom: 1px solid grey;
}

#layout-main-main > div.cointainer-fluid > div > div.col-lg-4.col-md-12 > div > div > div:nth-child(1) > div.container-fluid > div {
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Responsive */
@media (min-width: 0px) {
     #gap-small-medium li {
                display: none;
            }

    #img-display-none {

    }

}

@media (min-width: 576px) {
     #gap-small-medium li:nth-child(n+4) {
                display: flex !important;
            }
    #img-display-none {
        display: flex !important;
    }

    .swagger .d-none {
        display: flex !important;
    }
}
@media (min-width: 768px) {
    #gap-small-medium li:nth-child(-n+3) {
                display: flex;
            }
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
    #header-logo-img img {
        width: 100%;
    }
    .col-fixed {
        width: 157px;
    }
    
    #Home, #Stats, #Signals, #Cog  {
        display: flex !important;
    }

    .plus {
        display: none;
    }
    .mobileapp {
        display: inline-block !important;
    }
    .webapp {
        display: inline-block !important;
    }
    .blogapp {
        display: inline-block !important;
    }


}
@media (min-width: 1400px) {
  #img-display-none {
        display: none !important;
    }
    #header-logo-img {
        display: flex !important;
    }
}
@media (min-width: 1652px) {

}
